# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/
dist/
build/
.cache/
.vite/
.next/
out/

# Env & secrets
.env
.env.*.local
*.pem
*.key

# Mac/Editor junk
.DS_Store
.idea/
.vscode/
