* {
    margin: 0;
    padding: 0;
}

.custom-bg-about {
    background-image: url("https://static.wixstatic.com/media/55d98a_bf8ecd3f0c4b470796c407aa7be1d168~mv2.jpg/v1/fill/w_950,h_600,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Light%20-%20Big%20Vertical.jpg");
    background-position: center;
    background-size: cover;
    font-family: "Roboto Slab";
    /* background-repeat: no-repeat; */
}

.string {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg path {
    font-size: 2rem;
    cursor: pointer;
}

.pl-2 {
    padding-left: 1.5rem;
}

.left-section {
    width: 50%;
}

.left-section>img {
    width: 80%;
}

.right-section {
    width: 50%;
}


@media (max-width: 600px) {
    .container-fluid>section {
        flex-direction: column;
    }

    .left-section, .right-section {
        width: 100%;
        text-align: center;
        padding-bottom: 0;
    }

    .left-section > img {
        width: 100%;
    }
}