* {
    margin: 0;
    padding: 0;
}

.custom-bg-contact {
    background-image: url("https://static.wixstatic.com/media/baac51_bb1eefd1889f4272b0ac0e6666f939c2~mv2.jpg/v1/fill/w_794,h_445,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/Light%20-%20Item%20image%203.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
}

hr {
    border: 2px solid black;
    width: 100%;
}

.contact-container {
    /* gap: 11rem;
    margin-right: 2rem; */
}