.custom-img-bg {
    width: 100%;
    min-height: 70svh;
    /* height: calc(100vw * 9 / 16); */
    background-image: url("https://image1.jdomni.in/banner/28112022/20/FD/E4/8DD8A1EEC14B4452A145CA58CC_1669632976342.jpg?output-format=webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: right;
    font-family: "Roboto Slab";
    /* font-family: "Poppins"; */
}

.container-fluid h2 {
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    text-shadow: 1px 1px 2px black, 0 0 1rem black, 0 0 0.2rem black;
    text-align: center;
    padding: 2rem;
}

@media (max-width: 389px) {
    .buttons {
        flex-wrap: wrap;
        width: 100%;
        padding: 0%;
        flex-shrink: 1;
    }
}


.custom-btn {
    background-color: #39749f;
    color: white;
    border: none;
    margin: 0;
}

.first-hr {
    margin: 0;
    border: 5px solid #111;
    margin-bottom: 5rem;
}

.card {
    width: 38rem;
    z-index: 0;
}

.card-img-top {
    width: 100%;
    height: 28rem;
    object-fit: cover;
}

.row>* {
    padding: 0;
}

.row {
    gap: 5%;
}

.custome-color {
    color: #224761;
}

.text-xl {
    font-weight: bolder;
    font-size: xx-large;
}

.carousel {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.carousel-slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-text {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    text-shadow: 2px 0 1px #000, -2px 0 1px #000, 0 2px 1px #000, 0 -2px 1px #000;
}

.carousel-text h2 {
    font-family: "Roboto Slab";
    font-size: 5rem;
    font-weight: bolder;
}

.carousel-text p {
    font-family: Lora;
    font-size: 3rem;
}

@media (max-width: 578px) {
    .carousel-text h2 {
        font-size: 3rem;
    }

    .carousel-text p {
        font-size: 1.5rem;
        font-weight: 900;
    }
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 1;
}

.carousel-control.left {
    left: 10px;
}

.carousel-control.right {
    right: 10px;
}

@media (max-width: 768px) {
    .carousel-text {
        font-size: 1.2rem;
    }

    .carousel-control {
        padding: 0.5rem;
    }
}

.page2 {
    width: 100%;
    padding: 1vw 0;
    background-color: #224761;
}

.move {
    color: #fff;
    display: flex;
    padding: 1vw 0;
    overflow: hidden;
    gap: 2rem;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.move {
    scrollbar-width: thin;
    scrollbar-color: #171d24 transparent;
}

.move::-webkit-scrollbar {
    width: 8px;
}

.move::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.move::-webkit-scrollbar-thumb {
    background-color: #ccc;
    /* Color of the scrollbar thumb */
    border-radius: 1rem;
    /* Rounded corners for the scrollbar thumb */
    border: 1px solid #f1f1f1;
    /* Optional: adds space around thumb */
}

.marque {
    display: flex;
    flex-shrink: 0;
    justify-content: left;
    align-items: center;
    flex-wrap: nowrap;
    gap: 3vw;
    padding: 0 1.5vw;
    text-align: center;
}

.marque>h3 {
    text-transform: uppercase;
}

.custom-bg-caurosal {
    padding: 2rem;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.547);
    /* color: white; */
}
