.custom-bg-register {
    background-image: url("https://images.pexels.com/photos/236709/pexels-photo-236709.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.custom-bg-reset {
    background-image: url("https://images.pexels.com/photos/236705/pexels-photo-236705.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

.login-logo {
    width: 15rem;
}

.padding-5 {
    padding: 3rem !important;
}

@media (max-width: 420px) {
    .login-logo {
        width: 10rem;
    }

    .padding-5 {
        padding: 1.5rem !important;
        padding-top: 2.5rem !important;
    }
}

.custom-bg-password {
    padding: 2rem;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: #ccccccc9;
    /* color: white; */
}

/* .custom-bg-password a {
    color: white;
} */

.font-bold-2xl {
    font-size: 2.5rem;
    font-weight: bolder;
}

.font-bold-xl{
    font-size: 1.3rem;
    font-weight: bold;
}

.font-bold {
    font-size: 1.2rem;
    font-weight: bold;
}

.form-control,
.form-select {
    font-size: 1.1rem;
    font-weight: 600;
}

/* Default for desktop */
.form-container {
    width: 50%;
    margin: auto;
}

/* Full width for mobile */
@media (max-width: 768px) {
    .form-container {
        width: 100%;
    }
}

/* Modal Background */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.notfound {
    height: 85vh;
    background-image: url("https://images.pexels.com/photos/534164/pexels-photo-534164.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Montserrat";
}